body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;
    font-family: 'Tajawal', sans-serif;
    color: #a45643;
    color: #f7864b;
    color: #68738a;
}

.box_menu {
    z-index: 100;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    border-bottom: 2px solid #e47b3e;
}

.logo {
    height: 100%;
    min-width: 150px;
}

.logo>img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 200%;
    width: auto;
}

.name {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-width: 330px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 800;
    color: #e47b3e;
    margin: 0;
}

/*.logo {*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*}*/

/*.logo>img {*/
/*    margin-left: 20px;*/
/*    height: 60px;*/
/*    width: auto;*/
/*}*/

.menu {
    width: 100%;
    display: flex;;
    align-items: flex-end;
    justify-content: flex-end;
}

.button {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: 300;
}

.button:hover {
    color: #e47b3e;
    border-bottom: 2px solid #e47b3e;
    cursor: pointer;
    padding-bottom: 8px;
    font-weight: 500;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.couverture {
    z-index: -20;
    max-height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.photo {
    z-index: -20;
    min-width: 100%;
}

.photo>img {
    min-width: 100%;
    min-height: auto;
}

.box_text_couverture {
    z-index: -16;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top:70px;
    left: 0;
    min-width: 100%;
    height: 50px;

}

.text_couverture {
    z-index: -15;
    color: #a45643;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 80px;
    left: 170px;
    min-width: 450px;
    text-align: left;
    margin: 0;
}

.elevage {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 90px 0px 170px;
    margin-bottom: 100px;
}

.box_elevage {
    z-index:-20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
}

.text_elevage{
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.orange {
    color: #e47b3e;
    font-weight: 700;
    font-size: 20px;
}

.lastsentence {
    margin-bottom: 0;
}

.photo_elevage{
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 100%;
}

.photo_elevage>img {
    width: 130%;
    height: auto;
    margin-bottom: -55px;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.photos_patchwork {
    width: 100%;
    display: flex;
    flex-direction: row;
    outline: 1px solid white;
    margin-bottom: -10px;
}

.photoprincipale{
    max-width: 66.7%;
    overflow: hidden;
}

.photoprincipale>img {
    width: 100%;
    height: auto;
}

.photoautre {
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

.photoautre>img {
    outline: 1px solid white;
    width: 100%;
    height: auto;
}

.text_about {
    color: white;
    font-weight: 200;
    background-color: #68738a;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 100px 10px 170px;
}

.text_about>p {
    width: 30%;
    text-align: justify;
    margin: 0;
}

.text_about>p>b {
    font-weight: 700;
}

.nous_trouver {
    margin-bottom: 50px;
    padding-left: 20px;
    padding-top: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.box_market {
    width: 1500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    /*border-radius: 250px;*/
}

.nous_trouver>img {
    z-index: -20;
    position: absolute;
    top: -200px;
    left: 200px;
    width: 1200px;
    filter: invert(91%) sepia(37%) saturate(391%) hue-rotate(300deg) brightness(98%) contrast(112%);
}

.photo_trouver {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.photo_trouver>img {
    height: 100%;
    width: auto;
    padding-right: 40px;
}

.box_text_market {
    height: 100%;
    width: 450px;
    margin-left: 100px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 150px;
}

.box_text_market b {
    color: #a45643;
    font-size: 20px;
    font-weight: 400px;
}

.container_logo {
    display: flex;
    flex-direction: column;
}

.box_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.logo_facebook {
    border: 3px solid #a45643;
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.logo_facebook>img {
    width: 100%;
    height: auto;
    filter: invert(42%) sepia(5%) saturate(5960%) hue-rotate(324deg) brightness(88%) contrast(82%);
}

.logo_foodbevg {
    width: 100px;
    margin-left: 20px;
}

.logo_foodbevg>img {
    opacity: 0.9;
    width: 100%;
    height: auto;
}

.box_map {
    width: 100%;
    position: relative;

}

.text_map {
    margin-left: 160px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.button_rdv {
    width: 100px;
    padding: 13px 10px 10px 10px;
    background-color: #f7864b;
    color: white;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #68738a;
}

.button_rdv:hover {
    background-color: #e47b3e;
}

.map {
    text-align: center;
    position: absolute;
    top: -150px;
    left: 575px;
}