body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;
    font-family: 'Tajawal', sans-serif;
    color: #a45643;
    color: #f7864b;
    color: #68738a;
}

.box_menu {
    z-index: 100;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    border-bottom: 2px solid #e47b3e;
}

.logo {
    height: 100%;
    min-width: 150px;
}

.logo>img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 200%;
    width: auto;
}

.name {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-width: 330px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 800;
    color: #e47b3e;
    margin: 0;
}

/*.logo {*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*}*/

/*.logo>img {*/
/*    margin-left: 20px;*/
/*    height: 60px;*/
/*    width: auto;*/
/*}*/

.menu {
    width: 100%;
    display: flex;;
    align-items: flex-end;
    justify-content: flex-end;
}

.button {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: 300;
}

.button:hover {
    color: #e47b3e;
    border-bottom: 2px solid #e47b3e;
    cursor: pointer;
    padding-bottom: 8px;
    font-weight: 500;
}



.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}



.couverture {
    z-index: -20;
    max-height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.photo {
    z-index: -20;
    min-width: 100%;
}

.photo>img {
    min-width: 100%;
    min-height: auto;
}

.box_text_couverture {
    z-index: -16;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top:70px;
    left: 0;
    min-width: 100%;
    height: 50px;

}

.text_couverture {
    z-index: -15;
    color: #a45643;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 80px;
    left: 170px;
    min-width: 450px;
    text-align: left;
    margin: 0;
}



.elevage {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 90px 0px 170px;
    margin-bottom: 100px;
}

.box_elevage {
    z-index:-20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
}

.text_elevage{
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.orange {
    color: #e47b3e;
    font-weight: 700;
    font-size: 20px;
}

.lastsentence {
    margin-bottom: 0;
}

.photo_elevage{
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 100%;
}

.photo_elevage>img {
    width: 130%;
    height: auto;
    margin-bottom: -55px;
}



.about {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.photos_patchwork {
    width: 100%;
    display: flex;
    flex-direction: row;
    outline: 1px solid white;
    margin-bottom: -10px;
}

.photoprincipale{
    max-width: 66.7%;
    overflow: hidden;
}

.photoprincipale>img {
    width: 100%;
    height: auto;
}

.photoautre {
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

.photoautre>img {
    outline: 1px solid white;
    width: 100%;
    height: auto;
}

.text_about {
    color: white;
    font-weight: 200;
    background-color: #68738a;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 100px 10px 170px;
}

.text_about>p {
    width: 30%;
    text-align: justify;
    margin: 0;
}

.text_about>p>b {
    font-weight: 700;
}


.presse {
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}





.nous_trouver {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.background_photo {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.background_photo>img {
    width: 100%;
    height: auto;
}

.greybox {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #68738a;
    opacity: 0.85;
}

.box_text_noustrouver {
    z-index: 4;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
    font-size: 17px;
}

.text_noustrouver>p {
    margin-top: 40px;
    margin-bottom: 20px;
}

.box_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.logo_facebook {
    border: 3px solid #f7864b;
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.logo_facebook>img {
    width: 100%;
    height: auto;
    filter: invert(63%) sepia(79%) saturate(1016%) hue-rotate(324deg) brightness(97%) contrast(101%);
}

.logo_facebook:hover {
   border: 3px solid #e47b3e;
}

.logo_facebook>img:hover {
    filter: invert(47%) sepia(67%) saturate(481%) hue-rotate(338deg) brightness(103%) contrast(95%);
}

.logo_foodbevg {
    width: 150px;
    margin-left: 20px;
}

.logo_foodbevg>img {
    filter: invert(63%) sepia(79%) saturate(1016%) hue-rotate(324deg) brightness(97%) contrast(101%);
    width: 100%;
    height: auto;
}

.logo_foodbevg>img:hover {
    filter: invert(47%) sepia(67%) saturate(481%) hue-rotate(338deg) brightness(103%) contrast(95%);
}

.button_rdv {
    width: 100px;
    padding: 13px 10px 10px 10px;
    background-color: #f7864b;
    color: white;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #68738a;
    font-size: 15px;
}

.button_rdv:hover {
    background-color: #e47b3e;
}

.container_map {
    z-index: 4;
    width: 40%;
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
}



